/* NAV COMPONENT STYLESHEET */
.nav-container {
  background-color: #9bb4a5;
  border-radius: 5px;
  box-shadow: 1px 1px 3px black;
  margin: 15px;
  padding: 10px;
  width: 375px;
  max-width: 90%;
}
/* button elements */
.nav-button {
  box-shadow: 1px 1px 3px black;
  outline: none;
  border: none;
  border-radius: 40px;
  margin: 15px;
  padding: 10px;
  width: 45%;
}
.nav-button:hover {
  cursor: pointer;
  outline: none;
  box-shadow: 6px 6px 6px black;
}
.nav-button:active {
  cursor: pointer;
  outline: none;
  box-shadow: 0 0 0 black;
}
.nav-button:focus {
  cursor: pointer;
  outline: none;
}
