.blue {
  background-color: #004b9b;
  color: white;
}
.red {
  background-color: #c00000;
  color: white;
}
.clear {
  background-color: #9bb4a5;
  color: #275937;
}
.green {
  background-color: #275937;
  color: white;
}