/* TITLE COMPONENT STYLESHEET */
/* .title {
  background-color: #275937;
  color: white;
  border-radius: 5px;
  box-shadow: 1px 1px 3px black;
  padding: 5px;
  text-align: center;
  font-size: 22px;
  font-weight: 300;
  width: 375px;
  max-width: 90%;
  margin: 15px 0 15px 0;
} */
.title {
  background-color: #9bb4a5;
  color: #275937;
  padding: 5px;
  text-align: center;
  /* font-family: "Montserrat", sans-serif; */
  font-size: 1.5em;
  font-weight: 700;
  width: 375px;
  max-width: 90%;
  margin: 15px 0 15px 0;
}
